<%= link_to "Acessar aplicação", filmes_path, style: "font-weight: bold; font-size: 2rem;" %>

<h1>README</h1>
<br/>
<div style="font-size: 2rem;">
  <p>A aplicação se trata de uma plataforma de reviews de filmes.</p>
  <p>Os usuários podem cadastrar filmes e avalições.</p>
  <p>Para utilizar a aplicação o usuário deve criar uma conta com login e senha.</p>
  <p>A aplicação permite criar/editar/remover filmes e criar/editar reviews</p>
  <p>Apenas o usuário que cadastrou o filme ou review pode editar/criar/remover o filme ou review</p>
  <p>Todos que acessam a aplicação podem ver os filmes e as reviews</p>
  <br/>
  
  <h2>Ítens avaliados<h2>
  
  <h3>Relações</h3>
  <p>Usuário se relaciona com filme e com review. Um usuário pode estar relacionado com vários filmes e com várias reviews.</p>
  <p>Filme se relaciona com usuário e com review. Um filme está relacionado com um usuário e pode estar relacionado com várias reviews.</p>
  <p>Review se relaciona com Filme e com usuário. Uma review está relacionada com um usuário e um filme.</p>
  <br/>

  <h3>Rake Test</h3>
  <p></p>
</div>
