<div class="review">
    <p> <strong>Nota: </strong> <%= review.nota %> </p>
    <p class="review-comment"> <%= review.comentario %> </p>

    <% if user_signed_in? %>
        <% if review.user_id == current_user.id %>
            <%= link_to "Editar", edit_filme_review_path(review.filme, review), class: "btn btn-custom2" %>
        <% end %>
    <% end %>
</div>

