<h1> <strong>Filmes</strong> </h1>

<% if @filmes.length > 0%>
    <% @filmes.each do |filme| %>
        <%= link_to(image_tag(filme.url_capa, style: "max-height: 300px"), filme) %>
    <% end %>
<% else %>
    <h2>Nenhum filme cadastrado</h2>
<% end %>