<% if @filmes.length > 0%>

    <div class="row">

        <% @filmes.each do |filme| %>
            <% if filme.url_capa.include? "http"%>
                <div class="col-md-3">
                    <%= link_to(image_tag(filme.url_capa, style: "height: 350px; width: 250px;", class: "filme"), filme) %>
                </div>
            <% end %>
        <% end %>

    </div>

    
<% else %>
    <h2>Nenhum filme cadastrado</h2>
<% end %>